.pagination-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-top: 30px;
}

.pagination-item{
  width: 40px;
  height: 40px;
  background-color: #E1E1E1;
  border-radius: 50%;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.015em;
  color: #FFF;
  margin-right: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &.active{
    background-color: #407BFF;
  }
}

.pagination-previous {
  transform: rotate(-180deg);
  margin-right: 25px;
  
  &:hover{
    color: #407BFF;
    cursor: pointer;
  }
}

.pagination-next {
  margin-left: 15px;

  &:hover{
    color: #407BFF;
    cursor: pointer;
  }
}